* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vdkmagenta: hsl(300, 43%, 22%);
    --softpink: hsl(333, 80%, 67%);
    --dkgraymagenta: hsl(303, 10%, 53%);
    --ltgraymagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}


body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background-color: var(--white);
    line-height: 1.3;
    background-image: url('./images/bg-pattern-top-mobile.svg'), url('./images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: calc(50% - 0rem) -0rem, calc(50% + 435px) calc(100% + 580px);
    background-size: contain;
}

.container {
    padding: 6rem 2rem;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.container>* {
    padding-bottom: 2.5rem;
}

.upper {
    text-align: center;
    color: var(--vdkmagenta);
}

.upper h1 {
    line-height: 1;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.upper p {
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.75;
    color: var(--dkgraymagenta);
}

.middle {
    display: grid;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.rating {
    background-color: var(--ltgraymagenta);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.rating .star {
    padding-bottom: 0.5rem;
}

.star img {
    padding-left: 0.2rem;
}

.rating .rate {
    font-size: 0.85rem;
    font-weight: 700;
    color: var(--vdkmagenta);
}

.lower {
    display: grid;
    gap: 1rem;
}

.card {
    background-color: var(--vdkmagenta);
    border-radius: 0.5rem;
    padding: 2rem;
}


.card .title {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.title.image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--softpink);
}

.title .image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.title .name {
    padding-left: 1.5rem;
}

.name h3 {
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 0.2rem;
}

.name h4 {
    color: var(--softpink);
    font-size: 1rem;
    font-weight: 400;
}

.card .info {
    color: var(--white);
    font-weight: 400;
    line-height: 1.75;
    font-size: 0.75rem;
}


/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media screen and (min-width: 1440px) {
    body{
        background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: calc(50% - 34rem) -14rem, calc(50% + 12rem) calc(100% + 2rem);
        background-size: contain;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        max-width: 1200px;
        margin: 0 auto;
        min-height: 100vh;
    }

    .upper {
        grid-column: 1 / 3;
        text-align: start;
    }

    .upper h1 {
        font-size: 3rem;
        padding-bottom: 0.75rem;
        max-width: 400px;
    }

    .upper p {
        font-size: 1rem;
        max-width: 500px;
    }

    .middle {
        gap: 1rem;
        align-self: center;
        justify-self: end;
    }

    .middle .one{
        transform: translateX(-6rem);
    }
    .middle .two{
        transform: translateX(-3rem);
    }

    .rating {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .rating .star {
        padding-right: 1rem;
        padding-bottom: 0;
    }

    .card{
        padding: 2.5rem 2rem;
    }

    .card .info{
        font-size: 0.75rem;
        letter-spacing: 0.2px;
        word-spacing: 2px;
    }

    .lower {
        grid-column: 1 / -1;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding-top: 2rem;
    }

    .lower .down_two {
        transform: translateY(1rem);
    }

    .lower .down_three {
        transform: translateY(2rem);
    }

}